.weatherApp {
  background-color: rgba(255, 245, 204, 0.8);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px 10px;
}
.city-Input {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 25px;
  width: 300px;
  margin: 0 auto 0 10px;
  padding: 10px;
  text-align: center;
}
.search-Button {
  background-color: rgba(255, 204, 0, 0.9);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  margin: 0 10px;
  padding: 10px;
}

form {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.weather-forecast-main-section {
  position: relative;
  text-align: right;
  bottom: 120px;
}
.extended-forecast {
  display: flex;
  position: relative;
  top: -50px;
  margin-left: 45px;
}
.breakOne {
  display: flex;
  position: relative;
  bottom: 80px;
}
h3 {
  display: flex;
  position: relative;
  bottom: 80px;
  text-align: center;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  position: fixed;
  justify-content: space-between;
  top: 300px;
  text-align: center;
  padding: 0;
}

li:first-child {
  display: flex;
  position: absolute;
  list-style: none;
}
.day {
  display: block;
  font-style: italic;
  font-weight: bold;
  margin: 0 12px;
}
#forecast-emoji {
  display: flex;
  position: relative;
  bottom: 170px;
  left: 300px;
  width: 80px;
  height: 80px;
}
.maxTempertature,
.minTemperature {
  display: block;
  font-size: 13px;
}
footer {
  text-align: center;
  color: gray;
}
