body {
  background: linear-gradient(85deg, skyblue, white);
}
.weatherApp {
  background: radial-gradient(
    circle at center,
    lightblue,
    lightskyblue,
    transparent 100%
  );
  border: solid;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  max-width: 400px;
  max-height: 425px;
  margin: 20px auto;
  padding: 28px 10px;
}
.city-Input {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-style: inherit;
  line-height: 25px;
  margin: 0 auto 0 10px;
  padding: 10px;
  text-align: left;
  width: 225px;
}
.search-Button {
  background: #187de9;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  line-height: 19px;
  margin: 0px 10px 0 0;
  padding: 12px;
  font-size: 16px;
  width: 90px;
}
.search-Button:hover {
  background-color: rgba(16, 19, 161, 0.9);
  color: white;
  transition: all 200ms ease-in-out;
}

h1 {
  font-size: 1.5em;
  margin-left: 54px;
}
#today-details-container {
  margin: 53px 0 -24px;
}

form {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}
#forecast-emoji {
  position: absolute;
}
#forecast-icon {
  display: flex;
  position: relative;
  top: -16px;
  right: 8px;
  width: 70px;
}

.weather-forecast-main-section {
  display: block;
  position: relative;
  text-align: right;
  top: -103px;
}

.extended-forecast-wrapper {
  bottom: 88px;
  display: flex;
  flex-direction: column;
  position: relative;
}

h3 {
  text-align: center;
}

.extended-forecast-container {
  display: flex;
  justify-content: space-around;
}
.day {
  text-align: center;
}
.extended-forecast-icon {
  max-width: 60px;
  max-height: 60px;
}
.extended-forecast-temperature {
  margin: 0 auto;
}
.extended-forecast-row {
  display: flex;
  flex-direction: column;
}

footer {
  bottom: 30px;
  color: gray;
  display: flex;
  font-size: 13px;
  position: relative;
  text-align: center;
}
@media (max-width: 500px) {
  .citySearch {
    max-width: 50%;
    margin-left: 0px;
  }
  .search-Button {
    display: flex;
    position: relative;
    bottom: 43px;
    left: 270px;
  }
  #today-details-container {
    display: flex;
    position: relative;
    flex-direction: column;
    bottom: 60px;
  }
  .weather-forecast-main-section {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -160px;
  }
  .extended-forecast-wrapper {
    display: flex;
    position: relative;
    top: -130px;
  }
  .weatherApp {
    margin-top: 60px;
  }
  footer {
    display: flex;
    position: relative;
    bottom: 80px;
  }
}
