.weatherApp {
  background-color: rgba(255, 245, 204, 0.8);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px 10px;
}
.city-Input {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 25px;
  width: 300px;
  margin: 0 auto 0 10px;
  padding: 10px;
  text-align: center;
}
.search-Button {
  background-color: rgba(255, 204, 0, 0.9);
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  margin: 0 10px;
  padding: 10px;
}

form {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.weather-forecast-main-section {
  position: relative;
  text-align: right;
  bottom: 120px;
}
.extended-forecast {
  display: flex;
  position: relative;
  top: -50px;
}

h3 {
  display: flex;
  position: fixed;
  top: 270px;
  right: 500px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;

  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
li {
  justify-content: space-between;
  margin: 0 7px;
}
.day {
  font-style: italic;
  font-weight: bold;
}
.forecast-emoji {
  display: block;
  text-align: center;
}
.maxTempertature,
.minTemperature {
  font-size: 13px;
}
footer {
  font-size: 13px;
  text-align: center;
}
